body{
    background-color: #f1fbff;
}

.navbar{
    background-color: white;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,.4);
}

.carousel-caption{
    bottom: 200px;
    z-index: 2;
}

.carousel-inner:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.39);
    z-index: 1;
}
.carousel-indicators{
    background-size: cover;
    object-fit: cover;
}

.carousel-caption h5{
    font-size: 45px;
    margin-top: 20px;
    text-transform: uppercase;
}
.carousel-item{
    height: 100vh;
    object-fit: cover;
}

#team .container .row h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 540px) {
    
    .carousel-item  {
   max-width: 100%;
   height: auto;
    }
    .carousel-item h5{
        font-size: small;
    }
  }
